<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johntizy| <%= blog.title %></title>
</head>
<body>
    <h1><%= blog.title %></h1>
    <p><%= blog.body %></p>
    <button type="button" class="delete" data-del='<%= blog._id %>'>Delete Post</button>

    <script>
        const deleteBtn = document.querySelector('button.delete');

        deleteBtn.addEventListener('click', (e) => {
            const endpoint = `/blogs/${deleteBtn.dataset.del}`;

            fetch(endpoint, {
                method: 'DELETE'
            }).then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>
</body>
</html>